.button {
    display: inline-block;
    background-color: #5D5FEF;
    height: 60px;
    line-height: 60px;
    padding: 0px 20px;
    box-shadow: 5px 5px #000 ;
    transition: transform 150ms linear;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.button:hover {
    background-color: #7f81d6;
    box-shadow: 5px 5px 5px #333;
    transform: scale(1.07);
    
}
